.about {
  padding-block: 120px;
  &::before {
    content: "";
    display: none;
    background: url("@img/about-fon3.png") no-repeat center / cover;

    position: absolute;

    z-index: -1;
    width: 170%;
    height: 80%;
    right: -80%;
    top: 20%;
    opacity: 0.5;

    @include media(min, md) {
      display: block;
    }
    @include media(min, lg) {
      width: 80%;
    height: 80%;
    right: -25%;
    }
    @include media(min, xxl) {
      opacity: 1;
      width: 64%;
    }
  }

  &__box-img {
    width: 50px;
    height: 50px;
  }
  &__box-breadcrumb {
    height: 390px;
    margin-bottom: 60px;
  }
  &__breadcrumb {
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    width: 390px;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #b8ada0;
      position: absolute;
      right: 14%;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
  &__box-content {
    border-radius: 10px;

    backdrop-filter: blur(15px);
    padding: 100px 30px 30px;
    max-width: 255px;
    max-height: 210px;

    background: rgba(255, 255, 255, 0.4) url("@img/icons/arrow-about.svg")
      no-repeat 85% 18% / 23px 23px;
  }
}
.breadcrumb-item {
  a {
    @include wh(50px);
    background: url("@img/icons/home2.svg") no-repeat center / 24px 24px;
  }
  &.active {
  }
}
