.events {
  padding-top: 150px;
  &__fon {
    text-align: center;
    height: 87%;
    background: url("@img/events-fon.png") top center;
    position: relative;

    &::before {
      content: "";
      display: block;
      background: url("@img/icons/year_2023.svg") no-repeat center top/ 100%
        auto;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }
  &__day{
    padding: 10px 5px 5px 10px;
    @include media (min, sm) {
      padding-left: 40px;
      padding-top: 20px;
    }
   
    
  }
  // &__fon-text{
  // 	   width: 100%;
  // background: #F6F3EE;
  // display: inline-block;
  // & span{
  // 	    font-family: Tahoma, sans-serif;
  // font-weight: bold;
  // font-size: 80px;
  // line-height: 80px;
  // text-transform: uppercase;
  // background: url("@img/icons/year_2023.svg") top -130px center;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // }
  // }
  svg {
    background: #f6f3ee;
    position: absolute;
    top: 0;
    left: 0;
  }
  text {
    font-family: Verdana;
    font-size: 160pt;
    font-weight: bold;
    stroke: #000;
  }
  .event {
    position: relative;
    &::before{
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #7D6858;
        position: absolute;
        top: 4px;
        left: 4px;
    }
  }
  .prev-month,
  .next-month {
    opacity: 0.5;
  }
  .current {
    background-color: #b8ada0;
    color: #fff;
  }


}
