.teams {
  &::before {
    content: "";
    display: block;
    background: url("@img/icons/oasis-teams.svg") no-repeat center / 100% auto;
    width: 80%;
    height: 32%;
    position: absolute;
    left: 10%;
    top: 12%;
	@include media (min, lg){
		width: 40%;
    
	left: 40%;
	}
  }
  &__nav-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @include media(min, lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .breadcrumb {
    // .breadcrumb__box
    &__box {
      padding-top: 115px;
    }
  }
  .swiper {
    // .swiper__box-img
    &__box-img {
    }
    // .swiper__box-content
    &__box-content {
      transform: rotate(270deg);
      transform-origin: left top;
      z-index: 1;
    }
    // .swiper__control
    &__control {
    }
    // .swiper__span
    &__span {
    }
    // .swiper__buttons
    &__buttons {
    }
  }
}
.container {
}
.row {
}
.col-1 {
}
.breadcrumb {
  // .breadcrumb__box
  &__box {
  }
  // .breadcrumb__nav
  &__nav {
  }
}
.position-relative {
}
.flex-row-reverse {
}
.align-items-center {
}
.m-0 {
}
.gap-4 {
}
.breadcrumb-item {
}
.bg-success {
}
.rounded-circle {
}
.d-block {
}
.active {
}
.ff-inter {
}
.fs-14 {
}
.bg-body {
}
.px-1 {
}
.col-11 {
}
.tab-content {
}
.my-5 {
}
.tab-pane {
}
.fade {
}
.show {
}
.team-content {
}
.tab1 {
}
.swiper {
  // .swiper__box-img
  &__box-img {
  }
  // .swiper__box-content
  &__box-content {
  }
  // .swiper__control
  &__control {
  }
  // .swiper__span
  &__span {
  }
  // .swiper__buttons
  &__buttons {
  }
}
.teamSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.d-flex {
}
.flex-column {
}
.fs-24 {
}
.fw-700 {
}
.fs-16 {
}
.lh-12 {
}
.text-primary {
}
.tab2 {
}
.tab3 {
}
.tab4 {
}
.tab5 {
}
.tab6 {
}
.col-3 {
}
.fs-40 {
}
.mb-4 {
}
.fs-20 {
}
.col-9 {
}
.swiper-pagination {
}
.gap-1 {
}
.swiper-button-prev {
}
.border-success {
}
.border {
}
.swiper-button-next {
}
.nav {
}
.nav-tabs {
}
.nav-item {
}
.nav-link {
}
.team-tab {
}
