@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #faed19;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #7d6858;
  --bs-secondary: #f6f3ee;
  --bs-success: #b8ada0;
  --bs-info: #8e8d88;
  --bs-warning: #faed19;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #262722;
  --bs-primary-rgb: 125, 104, 88;
  --bs-secondary-rgb: 246, 243, 238;
  --bs-success-rgb: 184, 173, 160;
  --bs-info-rgb: 142, 141, 136;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 38, 39, 34;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 243, 238;
  --bs-font-sans-serif: IBM Plex Sans;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: normal;
  --bs-body-color: #262722;
  --bs-body-bg: #f6f3ee;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #7d6858;
  --bs-border-table-color: #cfc8be;
  --bs-border-color-translucent: #cfc8be;
  --bs-border-radius: 0.3125rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.625rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #262722;
  --bs-link-hover-color: #7d6858;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-btn-hover-color: #262722;
  --bs-btn-hover-bg: transparent;
}

.btn {
  --bs-btn-padding-x: 0.375rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: IBM Plex Sans;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: normal;
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.3125rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7d6858;
  --bs-btn-border-color: #7d6858;
  --bs-btn-hover-color: #262722;
  --bs-btn-hover-bg: #b8ada0;
  --bs-btn-hover-border-color: #b8ada0;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #262722;
  --bs-btn-active-bg: #b8ada0;
  --bs-btn-active-border-color: #b8ada0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #262722;
  --bs-btn-disabled-bg: #b8ada0;
  --bs-btn-disabled-border-color: #b8ada0;
}

.btn-light {
  --bs-btn-color: #7d6858;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #262722;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #b8ada0;
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #b8ada0;
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-border-color: initial;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: initial;
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: initial;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: none;
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: none;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link {
  display: block;
  cursor: pointer;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  padding-block: 4px;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: initial;
  border-color: initial;
  font-weight: 500;
  position: relative;
  padding-left: 45px;
}
.nav-tabs .nav-link.active::before,
.nav-tabs .nav-item.show .nav-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff url("img/icons/arrow-tabs.svg") no-repeat center/5px 8px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.teams .nav-link,
.vacancies .nav-link {
  display: block;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  line-height: 120%;
  color: #8e8d88;
  text-decoration: none;
  padding-block: 0;
  padding-left: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.teams .nav-tabs .nav-link.active,
.teams .nav-tabs .nav-item.show .nav-link,
.vacancies .nav-tabs .nav-link.active,
.vacancies .nav-tabs .nav-item.show .nav-link {
  color: #262722;
  background-color: initial;
  border-color: initial;
  font-weight: 500;
  position: relative;
  padding-left: 24px;
}
.teams .nav-tabs .nav-link.active::before,
.teams .nav-tabs .nav-item.show .nav-link::before,
.vacancies .nav-tabs .nav-link.active::before,
.vacancies .nav-tabs .nav-item.show .nav-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7d6858 url("img/icons/arrow-tabs.svg") no-repeat center/5px 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.teams .nav-link:hover,
.teams .nav-link:focus,
.vacancies .nav-link:hover,
.vacancies .nav-link:focus {
  color: #262722;
  position: relative;
  padding-left: 24px;
}
.teams .nav-link:hover::before,
.teams .nav-link:focus::before,
.vacancies .nav-link:hover::before,
.vacancies .nav-link:focus::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7d6858 url("img/icons/arrow-tabs.svg") no-repeat center/5px 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

a:-webkit-any-link:focus-visible {
  outline-offset: 0px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
  border-bottom: 1px solid #cfc8be;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0;
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: transparent;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: #262722;
  --bs-card-bg: transparent;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: none;
  border-radius: 0;
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: none;
}

.form-control:focus ~ .form-label {
  opacity: 0;
}

.form-label {
  transform: translateY(-50%);
  left: 20px;
  opacity: 1;
}

.form-file {
  transform: none;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("img/icons/check.svg");
  background-size: 16px 16px;
}

.form-check-input:checked {
  background-color: #fff;
  border-color: #7d6858;
}

.form-check-input {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.form-check-input:focus {
  border-color: #cfc8be;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(207, 200, 190, 0.25);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8e8d88;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #8e8d88;
  background-color: #fff;
  border-color: #cfc8be;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(207, 200, 190, 0.25);
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-table-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

.table > :not(caption) > * > * {
  padding: 1.25rem 1.25rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "IBM Plex Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
  max-width: 72.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-48 {
  font-size: 48px;
}

.fs-80 {
  font-size: 80px;
}

.lh-12 {
  line-height: 120%;
}

.lh-13 {
  line-height: 130%;
}

.lh-15 {
  line-height: 150%;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.ff-inter {
  font-family: "Inter";
}

.inter {
  color: #f6f3ee;
  opacity: 0.5;
  text-transform: uppercase;
  display: block;
  text-shadow:
    -1px -1px 0 #cfc8be,
    1px -1px 0 #cfc8be,
    -1px 1px 0 #cfc8be,
    1px 1px 0 #cfc8be;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup__form {
  max-width: 255px;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding-top: 75px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 450px;
}
.popup__content::after,
.popup__content::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.popup__content::after {
  background: url("img/popup-fon1.png") no-repeat center/100% auto;
  width: 45%;
  height: 50%;
  top: 0%;
  right: 0%;
}
@media only screen and (min-width: 575px) {
  .popup__content::after {
    height: 70%;
  }
}
.popup__content::before {
  background: url("img/popup-fon2.png") no-repeat center/100% auto;
  width: 40%;
  height: 14%;
  bottom: 0%;
  left: 0%;
}
@media only screen and (min-width: 575px) {
  .popup__content::before {
    height: 20%;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup-team::before {
  content: "";
  display: block;
  background: url("img/icons/line-popup.svg") no-repeat center/cover;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.popup-team .popup__content {
  max-width: 1200px;
  max-height: 670px;
  background-color: #f6f3ee;
  padding: 0;
}
.popup-team .popup__content::after,
.popup-team .popup__content::before {
  content: "";
  display: block;
  background: url("img/icons/star3.svg") no-repeat center/cover;
  position: absolute;
  width: 50px;
  height: 50px;
}
.popup-team .popup__content::after {
  bottom: -25px;
  left: 5%;
}
.popup-team .popup__content::before {
  top: -25px;
  left: 50%;
}
.popup-team .popup__close {
  background-color: #cfc8be;
  width: 50px;
  height: 50px;
  right: -25px;
  top: -25px;
}
.popup-team .popup__box-fon {
  background: url("img/fon.png") no-repeat;
  background-size: 50% auto;
  background-position: 55% 70%;
}
.popup-team .popup__box-trener {
  background: url("img/foto-trener2.png") no-repeat;
  background-size: 111% auto;
  background-position: 12% 26%;
}
.popup-team .popup__box-text {
  max-width: 255px;
  max-height: 140px;
  top: 10%;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}
.popup-team .popup__box-content {
  padding-block: 70px;
}
.popup-team .popup__list {
  display: flex;
  gap: 95px;
}
.popup-team .popup__list li {
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
}
.popup-team .popup__list li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #cfc8be;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.popup-team .popup__numbered-list {
  margin-bottom: 125px;
  counter-reset: popup-counter; /* Сброс счетчика перед списком */
}
.popup-team .popup__numbered-list ol {
  list-style-type: none; /* Скрытие стандартных маркеров */
}
.popup-team .popup__numbered-list ol li {
  counter-increment: popup-counter; /* Увеличение счетчика для каждого элемента */
  margin-bottom: 16px;
  padding-left: 50px;
  position: relative;
}
.popup-team .popup__numbered-list ol li::before {
  content: "(" counter(popup-counter, decimal-leading-zero) ") "; /* Формат номера с нулем и скобками */
  position: absolute;
  left: 0;
  top: 0;
}

[class*="-ibg"] {
  position: relative;
}
[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  object-fit: contain;
}

.burger {
  z-index: 50;
}
.burger__inner {
  width: 40px;
  height: 10px;
}
.burger__inner span,
.burger__inner::before {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0px;
  position: absolute;
  height: 1px;
  background-color: var(--bs-primary);
  width: 100%;
}
.burger__inner::before {
  top: 0px;
}
.burger__inner span {
  top: calc(100% - 1px);
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 100;
  position: relative;
  margin: 0;
  right: inherit;
  left: inherit;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #b8ada0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/icons/double_arrow.svg");
}

.swiper-button-next::after {
  transform: rotate(180deg);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 1px;
  width: 18%;
  border-radius: 0;
  background-color: #b8ada0;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  height: 3px;
}

.breadcrumb__nav {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width: 390px;
  overflow: hidden;
}
.breadcrumb__nav::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b8ada0;
  position: absolute;
  right: 14%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.breadcrumb__box {
  height: 390px;
  margin-bottom: 60px;
}
.breadcrumb-item a {
  width: 50px;
  height: 50px;
  background: url("img/icons/home2.svg") no-repeat center/24px 24px;
}
.text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cfc8be;
}
.text--pseudo {
  margin-top: -12px;
}
.text--pseudo::before {
  content: "&";
  display: block;
  position: absolute;
  font-size: 80px;
  color: #b8ada0;
  top: -44%;
  right: 32%;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
}

.btn--pseudo span {
  position: relative;
}
.btn--pseudo span::before {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #fff;
}
.btn--pseudo:hover span::before {
  background-color: #262722;
}

.cards .btn--pseudo span {
  position: relative;
  color: #7d6858;
}
.cards .btn--pseudo span::before {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #7d6858;
}
.cards .btn--pseudo:hover span {
  color: #262722;
}
.cards .btn--pseudo:hover span::before {
  background-color: #262722;
}

.home .wrapper {
  height: 100vh;
}
.home .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.promo__box-trener {
  background: url("img/foto-trener2.png") no-repeat;
  background-size: 80% auto;
  background-position: 50% -15%;
}
.promo__box-text {
  background: url("img/icons/oasis-fon.svg") no-repeat center/cover;
}
.promo__box-text-fon {
  bottom: 12%;
  transform: translate(-50%);
  width: 64%;
  max-height: 338px;
  z-index: -1;
}
.promo__box-text-border {
  bottom: 12%;
  transform: translate(-50%);
  width: 64%;
  max-height: 338px;
}
.promo__box {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 50px 0px rgba(38, 39, 34, 0.25);
  backdrop-filter: blur(15px);
  top: 22%;
}
.promo__btn {
  max-width: 290px;
}

.about {
  padding-block: 90px;
}
.about::before {
  content: "";
  display: none;
  background: url("img/about-fon3.png") no-repeat center/cover;
  position: absolute;
  z-index: -1;
  width: 170%;
  height: 80%;
  right: -80%;
  top: 20%;
  opacity: 0.5;
}
@media only screen and (min-width: 767px) {
  .about::before {
    display: block;
  }
}
@media only screen and (min-width: 991px) {
  .about::before {
    width: 80%;
    height: 80%;
    right: -25%;
  }
}
@media only screen and (min-width: 1699px) {
  .about::before {
    opacity: 1;
    width: 64%;
  }
}
.about__box-img {
  width: 50px;
  height: 50px;
}
.about__box-content {
  border-radius: 10px;
  backdrop-filter: blur(15px);
  padding: 100px 30px 30px;
  max-width: 255px;
  max-height: 210px;
  background: rgba(255, 255, 255, 0.4) url("img/icons/arrow-about.svg")
    no-repeat 85% 18%/23px 23px;
}

.plans {
  background: url("img/icons/Vector.svg") no-repeat center/100% auto;
}
.plans::after,
.plans::before {
  content: "";
  display: block;
  background-color: #b8ada0;
  left: 0;
  right: 0;
  position: absolute;
  height: 12%;
  z-index: -1;
}
.plans .container::before {
  content: "";
  display: block;
  background: url("img/icons/star3.svg") no-repeat center/50px 50px;
  position: absolute;
  right: -7%;
  top: 9%;
  width: 50px;
  height: 50px;
}
.plans::before {
  border-radius: 100% 100% 0% 0%;
  top: -6%;
}
.plans::after {
  bottom: -6%;
  border-radius: 0% 0% 100% 100%;
}
.plans__title::before {
  content: "";
  display: block;
  background: url("img/icons/star1.svg") no-repeat center/50px 50px;
  position: absolute;
  left: -7%;
  top: -28%;
  width: 50px;
  height: 50px;
}
.plans__img::before {
  content: "";
  display: block;
}
.plans__marker {
  width: 3.9%;
  aspect-ratio: 1/1;
}
.plans__marker:hover .plans__inform {
  display: block;
}
.plans__ico {
  height: 70%;
  width: 70%;
  margin: 15%;
}
.plans__inform {
  display: none;
  max-width: 1300px;
  z-index: 10;
  transform: translateX(-50%);
  fill: rgba(255, 255, 255, 0.15);
  stroke-width: 1px;
  stroke: #b8ada0;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(7.5px);
  bottom: 100%;
  border: 1px solid #b8ada0;
}
.plans__inform::after {
  transform: translateX(-50%);
  z-index: 10;
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  border: 10px solid #b8ada0;
  border-width: 0.75rem 0.75rem;
  border-color: rgba(255, 255, 255, 0.15) transparent transparent transparent;
}
.plans__content {
  margin-top: -22%;
}
.plans__numbered-list {
  counter-reset: plan-counter; /* Сброс счетчика перед списком */
}
.plans__list {
  list-style-type: none; /* Скрытие стандартных маркеров */
}
.plans__list li {
  counter-increment: plan-counter; /* Увеличение счетчика для каждого элемента */
  margin-bottom: 36px;
  padding-left: 50px;
  position: relative;
}
.plans__list li::before {
  content: "(" counter(plan-counter, decimal-leading-zero) ") "; /* Формат номера с нулем и скобками */
  position: absolute;
  left: 0;
  top: 0;
}

.community {
  padding-block: 245px;
  background: url("img/comunity_fon.png") no-repeat center 22%/100% auto;
}
@media only screen and (min-width: 991px) {
  .community {
    background-size: 45% auto;
  }
}
.community .container::before {
  content: "";
  display: block;
  background: url("img/phone3.png") no-repeat center/cover;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 991px) {
  .community .container::before {
    width: 33%;
  }
}
.community__box-fon {
  position: relative;
  width: 100%;
  height: 100%;
}
.community__title {
  max-width: 220px;
}
.community .swiper {
  position: relative;
}
.community .swiper__box-content {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  padding: 30px;
}
.community .swiper-wrapper {
  margin-bottom: 375px;
}
.community .swiper-slide-active .swiper__box-content {
  background-color: initial;
  backdrop-filter: none;
}
.gallery {
  padding-block: 100px;
}
.gallery .swiper__title {
  bottom: 4%;
  left: 2%;
}
.gallery .swiper__box-svg {
  width: 50px;
  height: 50px;
}
.gallery .swiper__box-small-svg {
  width: 30px;
  height: 30px;
  bottom: 4%;
  left: 2%;
}
.gallery .swiper-slide {
  max-height: 480px;
}
.gallery .mySwiper .swiper-slide {
  max-height: 170px;
}

.cards__box {
  height: 390px;
  margin-bottom: 60px;
}
.cards__box-title {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width: 390px;
  overflow: hidden;
}
.cards__box-content::after,
.cards__box-content::before {
  content: "";
  display: block;
  position: absolute;
}
.cards__box-content::before {
  background: url("img/icons/star3.svg") no-repeat center/cover;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
}
.cards__box-content::after {
  top: 10%;
  right: 30px;
  width: 80%;
  height: 1px;
  background-color: #cfc8be;
}
.cards__list li {
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
}
.cards__list li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #cfc8be;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.teams::before {
  content: "";
  display: block;
  background: url("img/icons/oasis-teams.svg") no-repeat center/100% auto;
  width: 80%;
  height: 32%;
  position: absolute;
  left: 10%;
  top: 12%;
}
@media only screen and (min-width: 991px) {
  .teams::before {
    width: 40%;
    left: 40%;
  }
}
.teams__nav-tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media only screen and (min-width: 991px) {
  .teams__nav-tabs {
    grid-template-columns: repeat(3, 1fr);
  }
}
.teams .breadcrumb__box {
  padding-top: 115px;
}
.teams .swiper__box-content {
  transform: rotate(270deg);
  transform-origin: left top;
  z-index: 1;
}

.contacts {
  padding-block: 80px;
}
.contacts__box-content {
  border-radius: 10px;
  backdrop-filter: blur(15px);
  padding: 70px 30px 30px;
  max-width: 255px;
  max-height: 152px;
  background: rgba(255, 255, 255, 0.4) url("img/icons/arrow-about.svg")
    no-repeat 85% 18%/23px 23px;
}
.contacts__link--map {
  background: url("img/icons/place.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.contacts__link--phone {
  background: url("img/icons/phone.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.contacts__link--work {
  background: url("img/icons/time.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.contacts__list {
  padding-left: 0;
}
.contacts__list li {
  margin-bottom: 12px;
}
.contacts__list li a {
  color: #8e8d88;
  font-size: 16px;
  line-height: 120%;
  position: relative;
  text-wrap: nowrap;
}
.contacts__list li a:hover {
  font-weight: 500;
  color: #262722;
  padding-left: 30px;
}
.contacts__list li a:hover::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7d6858 url("img/icons/arrow-tabs.svg") no-repeat center/5px 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.vacancies {
  padding-block: 170px;
}
.vacancies__form {
  background: url("img/form-fon.png") no-repeat center bottom/75% auto;
}
.vacancies__box-circle {
  width: 50px;
  height: 50px;
}
.vacancies__box-circle::before {
  content: "";
  display: block;
  background: url("img/icons/close.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.vacancies .card__list li {
  margin-bottom: 12px;
  padding-left: 24px;
  position: relative;
}
.vacancies .card__list li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #cfc8be;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.vacancies .card__btn[aria-expanded="true"] .vacancies__box-circle::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.vacancies .form::before {
  content: "";
  display: block;
  background: url("img/icons/star3.svg") no-repeat center/cover;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  right: 2%;
}
.vacancies .form__label--bg {
  width: 50px;
  height: 50px;
  display: block;
  background: url("img/icons/download.svg") no-repeat center/15px;
}
.vacancies .form__label--textarea {
  top: 25%;
}
.vacancies .form__btn {
  margin-bottom: 130px;
}

.events {
  padding-top: 150px;
}
.events .breadcrumb__box {
  margin-bottom: 0;
}
.events__left {
  margin-bottom: 60px;
}
.events__fon {
  text-align: center;
  height: 100%;
  background: url("img/events-fon.png") top center;
  position: relative;
}
.events__fon::before {
  content: "";
  display: block;
  background: url("img/icons/year_2023.svg") no-repeat center top/100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.events__description-box {
  height: 28%;
}
.events__description {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width: 415px;
  overflow: hidden;
  row-gap: 20px;
  height: 100%;
}
.events__day {
  padding: 10px 5px 5px 10px;
}
@media only screen and (min-width: 575px) {
  .events__day {
    padding-left: 40px;
    padding-top: 20px;
  }
}
.events svg {
  background: #f6f3ee;
  position: absolute;
  top: 0;
  left: 0;
}
.events text {
  font-family: Verdana;
  font-size: 160pt;
  font-weight: bold;
  stroke: #000;
}
.events .event {
  position: relative;
}
.events .event::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #7d6858;
  position: absolute;
  top: 4px;
  left: 4px;
}
.events .prev-month,
.events .next-month {
  opacity: 0.5;
}
.events .current {
  background-color: #b8ada0;
  color: #fff;
}
.events__lines-box {
  height: 1px;
  background-color: #b8ada0;
  width: 500%;
}
.events__line {
  height: 3px;
  background-color: #b8ada0;
  width: 50%;
}
.events__prev,
.events__next {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}
.events__prev:hover,
.events__next:hover {
  background-color: #b8ada0;
}
.events__prev::after,
.events__next::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/icons/double_arrow.svg");
}
.events__next::after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.events__item:nth-child(odd) {
  margin-top: 80px;
}
.events__content::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #b8ada0;
  background: url("img/icons/events-arrow.svg") no-repeat center/12px 13px;
  position: absolute;
  top: 0%;
  right: 16%;
}

.services-item {
  padding-top: 110px;
  padding-bottom: 310px;
}
.services-item__box-content {
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(15px);
  padding: 100px 30px 30px;
  max-width: 255px;
  max-height: 210px;
  background: rgba(255, 255, 255, 0.4) url("img/icons/arrow-about.svg")
    no-repeat 85% 18%/23px 23px;
}
.services-item__box-content::before {
  content: "";
  display: block;
  background: url("img/icons/calendar.svg") no-repeat center/cover;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 10%;
  top: 15%;
}

.directions::after,
.directions::before {
  content: "";
  display: block;
  background-color: #b8ada0;
  left: 0;
  right: 0;
  position: absolute;
  height: 12%;
  z-index: -1;
}
.directions::before {
  border-radius: 100% 100% 0% 0%;
  top: -6%;
}
.directions::after {
  bottom: -6%;
  border-radius: 0% 0% 100% 100%;
}
.directions .line1 {
  background: url("img/icons/line1.svg") no-repeat center/100% auto;
  top: 17%;
  left: -5%;
  width: 29%;
  height: 8%;
}
.directions .line2 {
  background: url("img/icons/line2.svg") no-repeat center/100% auto;
  bottom: 31%;
  right: -6%;
  width: 26%;
  height: 7%;
}
.directions__citation {
  position: relative;
  padding-top: 32px;
}
.directions__citation::before {
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  background: url("img/icons/citation.svg") no-repeat center/cover;
  position: absolute;
  left: 0;
  top: 0;
}
.directions__foto {
  position: relative;
}
.directions__foto::before {
  content: "";
  display: block;
  background: url("img/icons/foto-btn.svg") no-repeat center/cover;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -30px;
  top: -65px;
}
.directions__video {
  position: relative;
}
.directions__video::before {
  content: "";
  display: block;
  background: url("img/icons/video-btn-white.svg") no-repeat center/cover;
  width: 157px;
  height: 143px;
  position: absolute;
  right: -70px;
  top: -72px;
}

.trainers {
  padding-top: 185px;
}
.trainers::before {
  content: "";
  display: block;
  background: url("img/icons/oasis-teams.svg") no-repeat center/100% auto;
  width: 80%;
  height: 32%;
  position: absolute;
  left: 10%;
  top: 30%;
}
@media only screen and (min-width: 991px) {
  .trainers::before {
    width: 40%;
    left: 40%;
  }
}
.trainers .swiper__box-content {
  transform: rotate(270deg);
  transform-origin: left top;
  z-index: 1;
}

.forms::before {
  content: "";
  display: block;
  background: url("img/forms-fon.png") no-repeat center/cover;
  width: 12%;
  height: 72%;
  position: absolute;
  left: 12%;
  top: -2%;
}
.forms__form {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}
.forms__form::before {
  content: "";
  display: block;
  background: url("img/forms-fon2.png") no-repeat center/cover;
  width: 34%;
  height: 127%;
  position: absolute;
  right: -6%;
  bottom: -8%;
  z-index: -1;
}
.forms .form-control {
  border: 1px solid #cfc8be;
}
.forms .text {
  bottom: -25px;
}
.forms .text--pseudo {
  top: -11px;
  left: 10%;
}
.forms .text--pseudo::before {
  right: 53%;
}

.social__link {
  width: 50px;
  height: 50px;
  display: block;
  transition: all 0.2s ease-out;
}

.social__link:hover {
  background-color: #262722;
}
.popup__content {
  border-radius: 40px;
}
.popup__close {
  position: absolute;
  top: 15px;
  left: 10px;
}
.popup__close svg {
  width: 30px;
  height: 30px;
}
.popup .form__body {
  flex-direction: column;
}
.popup .form__input {
  border-color: #fff;
  width: 100%;
}
.popup .form__input:focus ~ .form__label,
.popup .form__input:valid ~ .form__label {
  top: 50%;
  opacity: 0;
}
.popup .form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.popup .form__btn {
  width: 100%;
}

.header {
  z-index: 999;
}
.header__btn-shedule {
  display: none;
}
@media only screen and (min-width: 767px) {
  .header__btn-shedule {
    display: block;
  }
}
.header__box-logo {
  z-index: 50;
}
.header__box-work {
  display: none;
  color: #fff;
}
.header__link--work {
  background: url("img/icons/time-white.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.header__link--phone {
  background: url("img/icons/phone.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.header__menu {
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
  transform: translateX(-200vw);
  transition: all 0.2s ease-out;
}
.header__menu::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--bs-success);
  position: absolute;
  z-index: -1;
}
.header__menu::after {
  content: "";
  top: 0;
  left: -100%;
  bottom: 0;
  width: 34vw;
  background: var(--bs-success);
  position: absolute;
  z-index: -1;
}
@media only screen and (min-width: 767px) {
  .header__menu::after {
    left: -50%;
  }
}
@media only screen and (min-width: 991px) {
  .header__menu::after {
    left: -75%;
  }
}
.header__menu nav ul {
  padding: 0;
  margin: 0;
}
.header__menu nav ul a,
.header__menu nav ul button {
  display: block;
  padding: 0.72em 0;
  position: relative;
  color: #fff;
  font-size: 18px;
}
.header__menu nav ul a::before,
.header__menu nav ul button::before {
  content: "";
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100vw;
  background: inherit;
  position: absolute;
}
.header__menu-top {
  margin-top: 8rem;
  flex: 1 0 0%;
}
.header__menu-bottom .btn:hover {
  background-color: #262722;
}
.header__menu-link--map {
  background: url("img/icons/place-white.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}
.header__services {
  padding-top: 8rem;
  padding-left: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -150vw;
  background: #7d6858;
  max-width: 105vw;
  width: 30rem;
  z-index: 1;
  transition: all 0.5s ease-out;
}
.header__services-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__services-menu ul a {
  font-size: 18px;
  color: #fff;
  line-height: 1em;
  white-space: nowrap;
  padding: 17px 2rem 17px 3.6875rem;
  display: block;
  position: relative;
  z-index: 1;
}
.header__services-menu ul .ico {
  width: 50px;
  z-index: 5;
}
.header__ico {
  width: 50px;
  z-index: 5;
}

@media (max-height: 1000px) {
  .header__menu-top,
  .header__services {
    overflow: auto;
  }
}
.footer__link {
  background: url("img/icons/place.svg") no-repeat center/cover;
  width: 50px;
  height: 50px;
}

.open .header__menu {
  transform: translateX(0);
}
.open .header__box-work {
  position: relative;
  z-index: 50;
}
@media only screen and (min-width: 767px) {
  .open .header__box-work {
    display: block;
  }
}
.open .header__btn-shedule {
  display: none;
}
.open .burger span {
  color: #fff;
}
.open .burger__inner span,
.open .burger__inner::before {
  background-color: #fff;
  top: calc(50% - 1px);
}
.open .burger__inner span {
  transform: rotate(45deg);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
}

.open.header__services {
  left: -5%;
}
@media only screen and (min-width: 767px) {
  .open.header__services {
    left: 75%;
    z-index: 1;
  }
}
