// .open {
//   .header {
//     &__menu {
//       transform: translateX(0);

//     }
//     &__box-work{

//       position: relative;
//       z-index: 50;
//       color: #fff;
//       @include media (min, lg) {
//         display: block;
//       }
//     }
//     &__box-btn{
//       display: none;
//     }
//     &__box-logo{
//       z-index: 50;
//     }
//   }

//   .burger{
//     span{
//       color: #fff;

//     }
//     &__inner
//     {
//       span,
//       &::before{
//         background-color: #fff;

//       }
//     }
//   }
// }
.open {
  .header {
    &__menu {
      transform: translateX(0);
    }
    &__box-work {
      
      position: relative;
      z-index: 50;
	  @include media (min, md) {
		display: block;
	  }
    }
    &__btn-shedule {
      display: none;
    }
  }
  .burger {
    span {
      color: #fff;
    }
    &__inner {
      span,
      &::before {
        background-color: #fff;
        top: calc(50% - 1px);
      }
      span {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
.open.header__services {
  left: -5%;
  @include media(min, md) {
    left: 75%;
    z-index: 1;
  }
}
