.social {
 
  
  
 
  &__link {
    @include wh(60px);
    display: block;
   
    &--vk {
      background: url("@img/icons/vk.svg") no-repeat 0 center / auto;
    }
    &--insta {
      background: url("@img/icons/inst.svg") no-repeat 0 center/ auto;
    }
    &--fb {
      background: url("@img/icons/fb.svg") no-repeat 0 center / auto;
    }
  }
  
}
