.header {
  position: fixed;
  z-index: 999;
  width: 100%;

  &__menu {
    background-color: #b8ada0;
    // box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;

    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 20;
    transform: translateX(-50vw);
    transition: all 0.2s ease-out;
    &::before {
      content: "";
      top: 0;
      right: 99%;
      bottom: 0;
      width: 100vw;
      background: inherit;
      position: absolute;
    }
    nav {
      ul {
        a {
          display: block;
          padding: 0.72em 0;
          position: relative;
          &::before {
            content: "";
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100vw;
            background: inherit;
            position: absolute;
          }
        }
      }
    }
    &-top {
      margin-top: 8rem;
      flex: 1 0 0%;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        a {
          color: #fff;

          font-size: 18px;
        }
      }
    }
  }
&__box-logo{
  position: relative;
  z-index: 50;
}
  &__box-work {
    display: none;
  }
  // .header__link
  &__link {
    &--phone {
      background: url("@img/icons/phone.svg") no-repeat center / cover;
      @include wh(50px);
    }
    &--work {
      background: url("@img/icons/time.svg") no-repeat center / cover;
      @include wh(50px);
    }
  }
  &__menu-link {
    background: url("@img/icons/place-white.svg") no-repeat center / cover;
    @include wh(50px);
  }
  &__services {
    padding-top: 8rem;
    padding-left: 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100vw;
      background: #0B3A32;
      max-width: 100vw;
      width: 52rem;
      z-index: -1;
      transition: all 0.5s ease-out;
      &.open{
        left: 100%;
      }
 
    &-menu {
      & ul {
        padding: 0;
        margin: 0;
       display: flex;
       flex-direction: column;
       gap: 15px;
        & a {
          font-size: 18px;

          color: #fff;
          line-height: 1em;
          white-space: nowrap;
          padding: 17px 2rem 17px 3.6875rem;
          display: block;
          position: relative;
          z-index: 1;
        }
        & .ico {
          width: 50px;
          z-index: 5;
        }
      }
    }
  }
}
